.card {
  min-height: 110px;
  background: linear-gradient(145deg, #0f1c2e, #08121f);
  padding: 7px;
  border-radius: 12px;
  border: 1px solid rgba(34, 197, 94, 0.25);
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.3);
}

.display-card {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 15px;
}

.card h3 {
font-size: 1rem;
  color: #ffffff;
  font-weight: 1;
}

.card.ingresos h3 { color: #4ade80; }
.card.gastos h3  { color: #f87171; }
.card.ahorro h3   { color: #60a5fa; }
.card.tasa h3     { color: #c084fc; }