.icono {
  width: 100%;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px, cover;
}

/* variantes */
.icono-ingresos {
  background-image:
    url("img/ingresos.png"),
    radial-gradient(circle, #1f2937, #22c55e);
}

.icono-gastos {
  background-image:
    url("img/gastos.png"),
    radial-gradient(circle, #1f2937, #ff1d1d);
}

.icono-ahorro {
  background-image:
    url("img/ahorro.png"),
    radial-gradient(circle, #1f2937, #1e82fc);
}

.icono-tasa {
  background-image:
    url("img/tasa.png"),
    radial-gradient(circle, #1f2937, #be1aff);
}