.sidebar {
    width:260px;
    /*height: 100vh;*/
    padding:20px;
    background: linear-gradient(180deg, #020617, #020b1a 60%, #020617);
    color: white;
    top:0;
}
.logo h1 {
  font-size: 30px;
  font-weight: bold;
}

.logo .mini {
  color: #22c55e; /* verde */
}

.logo .finance {
  color: #ffffff; /* blanco */
}
/* 🔹 Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

/* 🔹 Imagen */
.logo::before {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  background-image: url("img/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo .icon {
  font-size: 28px;
  color: #22c55e;
}

.logo h1 {
  font-size: 30px;
  font-weight: bold;
  transform: translateY(3px);
}
.icono-simulador {
  width: 25px;
  height: 25px;
  background-image: url("img/simulador.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.icono-inicio {
  width: 29px;
  height: 29px;
  background-image: url("img/inicio.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.icono-inicio,
.icono-simulador {
  display: inline-block;
}
aside ul{

  list-style-type: none;
  display: flex;              /* 🔥 IMPORTANTE */
  flex-direction: column;
  align-items: center;        /* centra horizontalmente */
  padding: 0;
}
aside ul li {

  width: 100%;
  display: flex;
  justify-content: center;

}
aside ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
  padding: 14px 16px;
  border-radius: 12px;
  transition: all 0.4s ease;
  letter-spacing: 1px;
  width: 95%;
}

aside ul li a.active {
  border: 1px solid #22c55e;
  color: #22c55e;
}
aside ul li a:hover {
  background: #22c55e;
  color: black;
}
.toggleButton {
  margin-left: auto; /* empuja el botón hacia la derecha */
}
@media (max-width: 768px) {

header .toggleButton{
  width:80px;
  height:80px;
  background-color:#3C7A89;
  display:flex;
  align-items:center;
  justify-content: center;
  transition: all 0.4s ease;
  cursor:pointer;
}
header .toggleButton .line-Button {
position: relative;

}
header .toggleButton .line-Button,
header .toggleButton .line-Button::before,
header .toggleButton .line-Button::after {
  width: 30px;
  height:2px;
  background-color:#ffffff;
  transition: all 0.4s ease;
}
header .toggleButton .line-Button::before,
header .toggleButton .line-Button::after {
content: '';
position:absolute;
}
header .toggleButton .line-Button::before{
  top:-5px;
}
header .toggleButton .line-Button::after {
  bottom:-5px;
}
aside{
  width:300px;
  height:100vh;
  z-index:100;
  position:fixed;
  top:0;
  left:-100%;
  transition: all 0.4s ease;
}
aside.showed {
  left:0;
}

  figure {
    max-width: 100%;
  }

  figure canvas {
    max-height: 250px;
  }

}