.sidebar {
    width:200px;
    padding:20px;
    background:#111;
    top:0;
}
.toggleButton {
  margin-left: auto; /* empuja el botón hacia la derecha */
}
@media (max-width: 768px) {

header .toggleButton{
  width:80px;
  height:80px;
  background-color:#3C7A89;
  display:flex;
  align-items:center;
  justify-content: center;
  transition: all 0.4s ease;
  cursor:pointer;
}
header .toggleButton .line-Button {
position: relative;

}
header .toggleButton .line-Button,
header .toggleButton .line-Button::before,
header .toggleButton .line-Button::after {
  width: 30px;
  height:2px;
  background-color:#ffffff;
  transition: all 0.4s ease;
}
header .toggleButton .line-Button::before,
header .toggleButton .line-Button::after {
content: '';
position:absolute;
}
header .toggleButton .line-Button::before{
  top:-5px;
}
header .toggleButton .line-Button::after {
  bottom:-5px;
}
aside{
  background-color:#3625BA;
  width:300px;
  height:100vh;
  z-index:100;
  position:fixed;
  top:0;
  left:-100%;
  transition: all 0.4s ease;
}
aside.showed {
  left:0;
}
aside ul{
  list-style-type: none;
  padding: 20px;
}
aside ul li {
  display:block;
}
aside ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration:none;
  text-align:center;
  display:block;
  padding:15px 20px;
  border-radius: 5px;
  transition: all 0.4s ease;
  letter-spacing:1px;
}
}