.icono-simulador {
  width: 25px;
  height: 25px;
  background-image: url("../img/simulador.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.icono-inicio {
  width: 29px;
  height: 29px;
  background-image: url("../img/inicio.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.icono-inicio,
.icono-simulador {
  display: inline-block;
}