.toggleButton {
  margin-left: auto;/* empuja el botón hacia la derecha */
}

@media (max-width:768px) {

  header .toggleButton {
    width: 60px;
    height: 60px;
    background-color: #22c55e;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  header .toggleButton .line-Button {
    position: relative;

  }

  header .toggleButton .line-Button,
  header .toggleButton .line-Button::before,
  header .toggleButton .line-Button::after {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.4s ease;
  }

  header .toggleButton .line-Button::before,
  header .toggleButton .line-Button::after {
    content: '';
    position: absolute;
  }

  header .toggleButton .line-Button::before {
    top: -5px;
  }

  header .toggleButton .line-Button::after {
    bottom: -5px;
  }
}